---
import Logo from "@/components/Logo.astro";
---

<a
	href="/"
	hx-boost="false"
	class="inline-flex h-full items-center px-4 text-heading-foreground outline-none focus-visible:ring-2 focus-visible:ring-ring"
	aria-label="heypi home"
>
	<Logo class="h-4 w-auto" />
</a>
